boto3==1.26.16
botocore==1.29.16
python-dotenv==0.21.0
urllib3==1.26.12
pymongo==4.3.3

attrs==22.1.0
dnspython==2.2.1
exceptiongroup==1.0.4
iniconfig==1.1.1
jmespath==1.0.1
packaging==21.3
pluggy==1.0.0
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
tomli==2.0.1